* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  list-style-type: none;
}
#header {
  display: flex;
  justify-content: space-between;
  width: 90%;
  align-items: center;
  background-color: orange;
  padding: 0 10px;
  margin: 0 auto;
  margin-top: 20px;
}
#header #cart-icon {
  font-size: 28px;
}
.itemUl {
  display: flex;
  text-align: center;
}
.li {
  display: inline-flex;
  text-align: center;
  margin: 10px;
}
.li:hover {
  box-shadow: 0px 0px 5px rgb(148, 148, 148);
}
.li div {
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
  color: rgb(65, 65, 65);
  width: 200px;
  padding: 5px;
}
.li img {
  max-width: 100%;
  height: 150px;
  aspect-ratio: 1/1;
  object-fit: cover;
}
.li .price {
  color: red;
}
.li .addBtn {
  background-color: orange;
  border: none;
  width: 100%;
}
.li .delBtn {
  background-color: rgb(196, 0, 0);
  color: white;
  border: none;
  width: 100%;
}
#cart {
  text-align: center;
}

#cart #checkout {
  background-color: orange;
  font-size: 15px;
  font-weight: bold;
  border: none;
  width: 50%;
}
.cartLi {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-bottom: 2px solid black;
  background-color: orange;
  width: 90%;
  margin: 0 auto;
}
.cartLi img {
  width: 50px;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 50%;
}

#add,
#filter {
  text-align: center;
}
#filter {
  width: 90%;
  padding-top: 10px;
  border-top: 2px solid black;
  margin: 10px auto;
}
